:root{
    --dark-blue: #002857;
    --light-blue: #0677ac;
    --orange: #DE6E00;
    --dark-orange: #EB8414;
    --navy-dark-blue: #031d3b;
    --light-gray: #6d6d6d;
    --light-black: #252525;
}       